audio {
  display: none;
  position: absolute;
  top: -500px;
  left: -500px;
}

#game .gameGrid {
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

#game .gameGrid .cases {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  line-height: 0;
}

#game .gameGrid .lasers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#game .gamePanel {
  margin: 0 auto;
  background: #222;
}

#game .gamePanel .toolObjectContainer.empty {
  opacity: 0.2;
}

#game .gamePanel .toolObjectContainer .number {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid #300;
  background: #600;
  font-weight: bold;
  color: white;
  padding: 2px 5px;
  opacity: 0.8;
}

#game .gamePanel .toolObjectContainer {
  padding: 0px;
  display: inline-block;
  background: #222;
  position: relative;
}
#game .gamePanel .toolObjectContainer:nth-child(2n) {
  background: #444;
}
#game .gamePanel .toolObject {
}

#game .gamePanel .toolObjectContainer.dragging {
  background: #fff;
}


#game .gameGrid .cases .case {
  display: inline-block;
}

#game .gameGrid .cases .case.touching {
  opacity: 0.8;
}
  
#game .gameGrid .cases .case.dragging {
  opacity: 0.3;
}

#game .case.hover {
  opacity: 0.5;
}

#dragHelper {
  z-index: 20;
  background: transparent;
}

#dragHelper.overGrid.overEmptyCase {
  background: rgba(100,255,100,0.5);
}

#dragHelper.overGrid {
  background: rgba(255,100,100,0.5);
}