


#game .gameGrid {
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

#game .gameGrid .cases {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  line-height: 0;
  background: #333;
}

#game .gameGrid .lasers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#game .gamePanel {
  padding: 10px;
  text-align: center;
  background: #222;
}

#game .gamePanel .toolObject {
  margin: 0px 5px;
  background: #999;
  display: inline-block;
}

#game .gamePanel .toolObject.dragging {
  background: red;
}

#game .gameGrid .cases .case {
  display: inline-block;
}