
#game .gameGrid {
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

#game .gameGrid .cases {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  line-height: 0;
}

#game .gameGrid .lasers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#game .gamePanel {
  text-align: center;
  background: #222;
}

#game .gamePanel .toolObjectContainer .number {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid #300;
  background: #600;
  font-weight: bold;
  color: white;
  padding: 2px 5px;
}

#game .gamePanel .toolObjectContainer {
  padding: 5px;
  display: inline-block;
  background: #111;
  position: relative;
}
#game .gamePanel .toolObjectContainer:nth-child(2n) {
  background: #333;
}
#game .gamePanel .toolObject {
  background: #555;
}

#game .gamePanel .toolObjectContainer.dragging {
  background: #fff;
}

#game .gameGrid .cases .case {
  display: inline-block;
}

#game .case.hover {
  opacity: 0.5;
}