body
{
    background: #000;
    color: #ddd;
}
body>*
{
    background: -moz-linear-gradient(-90deg, #333, #5e5e65);
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#333),to(#5e5e65));
}
h1,h2
{
    color: #000;
    font: bold 18px Helvetica;
    margin: 10px 20px 5px;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
}
.toolbar
{
    background: url(img/toolbar.png) #000 repeat-x;
    border-bottom: 1px solid #000;
    min-height: 25px;
    padding: 10px;
    position: relative;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.black-translucent .toolbar
{
    margin-top: 20px;
}
.toolbar>h1
{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    left: 50%;
    line-height: 1em;
    margin: 1px 0 0 -75px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: rgba(0,0,0,1) 0 -1px 1px;
    top: 10px;
    white-space: nowrap;
    width: 150px;
}
body.landscape .toolbar>h1
{
    margin-left: -125px;
    width: 250px;
}
.button,.back,.cancel,.add
{
    background: none;
    border-width: 0 5px;
    color: #fff;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    padding: 0 3px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
    top: 8px;
    webkit-border-image: url(img/button.png) 0 5 0 5;
    white-space: nowrap;
    width: auto;
}
.blueButton
{
    border-width: 0 5px;
    webkit-border-image: url(img/blueButton.png) 0 5 0 5;
}
.back
{
    border-width: 0 8px 0 14px;
    left: 6px;
    max-width: 55px;
    padding: 0;
    right: auto;
    webkit-border-image: url(img/back_button.png) 0 8 0 14;
}
.back.active
{
    color: #aaa;
    webkit-border-image: url(img/back_button_clicked.png) 0 8 0 14;
}
.leftButton,.cancel
{
    left: 6px;
    right: auto;
}
.add
{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}
.whiteButton,.grayButton
{
    border-width: 0 12px;
    color: inherit;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: inherit;
}
.whiteButton
{
    text-shadow: rgba(255,255,255,0.7) 0 1px 0;
    webkit-border-image: url(img/whiteButton.png) 0 12 0 12;
}
.grayButton
{
    color: #FFF;
    webkit-border-image: url(img/grayButton.png) 0 12 0 12;
}
h1+ul,h2+ul,h3+ul,h4+ul,h5+ul,h6+ul
{
    margin-top: 0;
}
ul
{
    border: 1px solid #333;
    color: #aaa;
    font: bold 18px Helvetica;
    margin: 15px 10px 17px 10px;
    padding: 0;
}
ul.rounded
{
    -moz-border-radius: 8px;
    -moz-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
    webkit-border-radius: 8px;
    webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
}
ul.rounded li:first-child,ul.rounded li:first-child a
{
    border-top: 0;
    webkit-border-top-left-radius: 8px;
    webkit-border-top-right-radius: 8px;
    -moz-border-radius: 8px 8px 0 0;
}
ul.rounded li:last-child,ul.rounded li:last-child a
{
    webkit-border-bottom-left-radius: 8px;
    webkit-border-bottom-right-radius: 8px;
    -moz-border-radius: 0 0 8px 8px;
}
ul li
{
    background: -moz-linear-gradient(-90deg, #4c4d4e, #404142);
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#4c4d4e),to(#404142));
    border-bottom: #555858;
    border-top: 1px solid #333;
    color: #666;
    list-style-type: none;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}
ul li.arrow
{
    background-image: url(img/chevron.png),-moz-linear-gradient(-90deg, #4c4d4e, #404142);
    background-image: url(img/chevron.png),-webkit-gradient(linear,0% 0,0% 100%,from(#4c4d4e),to(#404142));
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.forward
{
    background-image: url(img/chevron_circle.png),-moz-linear-gradient(-90deg, #4c4d4e, #404142);
    background-image: url(img/chevron_circle.png),-webkit-gradient(linear,0% 0,0% 100%,from(#4c4d4e),to(#404142));
    background-position: right center;
    background-repeat: no-repeat;
}
ul li a,li.img a+a
{
    color: #fff;
    display: block;
    margin: -10px;
    overflow: hidden;
    padding: 12px 10px 12px 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: rgba(0,0,0,.2) 0 1px 1px;
    webkit-tap-highlight-color: rgba(0,0,0,0);
    white-space: nowrap;
}
ul li a.active,ul li a.button, ul li a:hover
{
    background-color: #53b401;
    color: #fff;
}
ul li a.active.loading
{
    background-image: url(img/loading.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
}
ul li.arrow a.active
{
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.forward a.active
{
    background-image: url(img/chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.img a+a
{
    font-size: 17px;
    font-weight: bold;
    margin: -10px 10px -20px -5px;
}
ul li.img a+a+a
{
    font-size: 14px;
    font-weight: normal;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-top: 0;
}
ul li.img a+small+a
{
    margin-left: -5px;
}
ul li.img a+small+a+a
{
    font-size: 14px;
    font-weight: normal;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-top: -20px;
}
ul li.img a+small+a+a+a
{
    margin-bottom: 0;
    margin-left: 0!important;
}
ul li a+a
{
    color: #000;
    display: block;
    font: 14px Helvetica;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul li a+a+a,ul li.img a+a+a+a,ul li.img a+small+a+a+a
{
    color: #666;
    display: block;
    font: 13px Helvetica;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.form li
{
    padding: 7px 10px;
}
ul.form li.error
{
    border: 2px solid red;
}
ul.form li.error+li.error
{
    border-top: 0;
}
ul li input[type="text"],ul li input[type="password"],ul li textarea,ul li select
{
    background: transparent url(../.png);
    border: 0;
    color: #777;
    display: inline-block;
    font: normal 17px Helvetica;
    margin-left: 0;
    padding: 0;
    webkit-appearance: textarea;
    width: 100%;
}
ul li textarea
{
    height: 120px;
    padding: 0;
    text-indent: -2px;
}
ul li select
{
    background: transparent url(img/chevron.png) no-repeat right center;
    margin-left: -6px;
    text-indent: 0;
    webkit-appearance: textfield;
    width: 104%;
}
ul li input[type="checkbox"],ul li input[type="radio"]
{
    margin: 0;
    padding: 10px 10px;
}
ul li input[type="checkbox"]:after,ul li input[type="radio"]:after
{
    color: #777;
    content: attr(title);
    display: block;
    font: 17px Helvetica;
    margin: -12px 0 0 17px;
    width: 246px;
}
ul li small
{
    color: #64c114;
    display: block;
    float: right;
    font: 17px Helvetica;
    overflow: hidden;
    padding: 0;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 23%;
}
ul li.arrow small
{
    padding: 0 15px;
}
ul li small.counter
{
    background: rgba(0,0,0,.15);
    color: #fff;
    display: block;
    font-size: 17px;
    font-weight: bold;
    line-height: 13px;
    margin-top: -22px;
    padding: 4px 10px 5px 10px;
    webkit-border-radius: 11px;
    webkit-box-shadow: rgba(255,255,255,.1) 0 1px 0;
    -moz-border-radius: 11px;
    -moz-box-shadow: rgba(255,255,255,.1) 0 1px 0;
    width: auto;
}
ul li.arrow small.counter
{
    margin-right: 15px;
}
ul.individual
{
    background: none;
    border: 0;
    clear: both;
    overflow: hidden;
    padding-bottom: 3px;
    -moz-box-shadow: none;
    webkit-box-shadow: none;
}
ul.individual li
{
    background: #4c4d4e;
    background: -moz-linear-gradient(-90deg, #4c4d4e, #404142);
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#4c4d4e),to(#404142));
    border: 1px solid #333;
    display: block;
    float: left;
    font-size: 14px;
    padding: 11px 10px 14px 10px;
    text-align: center;
    webkit-border-radius: 8px;
    webkit-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
    webkit-box-sizing: border-box;
    -moz-border-radius: 8px;
    -moz-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
    -moz-box-sizing: border-box;
    width: 48%;
}
ul.individual li+li
{
    float: right;
}
ul.individual li a
{
    color: #fff;
    line-height: 16px;
    margin: -11px -10px -14px -10px;
    padding: 11px 10px 14px 10px;
    webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.toggle
{
    display: block;
    float: right;
    height: 27px;
    overflow: hidden;
    position: relative;
    width: 94px;
}
.toggle input[type="checkbox"]:checked
{
    left: 0;
}
.toggle input[type="checkbox"]
{
    background: #fff url(img/on_off.png) 0 0 no-repeat;
    background-color: transparent;
    border: 0;
    height: 27px;
    left: -55px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    webkit-appearance: textarea;
    webkit-border-radius: 5px;
    webkit-tap-highlight-color: rgba(0,0,0,0);
    webkit-transition: left .15s;
    width: 149px;
}
.info
{
    background: -moz-linear-gradient(-90deg, #ccc, #aaa);
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#ccc),to(#aaa),color-stop(.6,#CCC));
    border-top: 1px solid rgba(255,255,255,.2);
    color: #444;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 15px;
    text-align: center;
    text-shadow: rgba(255,255,255,.8) 0 1px 0;
}
ul.edgetoedge
{
    border-width: 1px 0;
    margin: 0;
    padding: 0;
}
ul.edgetoedge li
{
    background: -moz-linear-gradient(-90deg, #1e1f21, #272729);
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#1e1f21),to(#272729));
    border-bottom: 2px solid #000;
    border-top: 1px solid #4a4b4d;
    font-size: 20px;
    margin-bottom: -1px;
}
ul.edgetoedge li.sep
{
    background: -moz-linear-gradient(-90deg, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -webkit-gradient(linear,0% 0,0% 100%,from(rgba(0,0,0,0)),to(rgba(0,0,0,.5)));
    border-bottom: 1px solid #111113;
    border-top: 1px solid #666;
    color: #3e9ac3;
    font-size: 16px;
    margin: 1px 0 0 0;
    padding: 2px 10px;
    text-shadow: #000 0 1px 0;
}
ul.edgetoedge li em
{
    font-style: normal;
    font-weight: normal;
}
#plastic
{
    background: #17181a;
}
ul.plastic
{
    background: #17181a;
    border-width: 0 0 1px 0;
    color: #aaa;
    font: bold 18px Helvetica;
    margin: 0;
    padding: 0;
}
ul.plastic li
{
    border-bottom-color: #000;
    border-style: solid;
    border-top-color: #222;
    border-width: 1px 0;
    color: #666;
    list-style-type: none;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}
ul.plastic li a.active.loading
{
    background-image: url(img/loading.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
}
ul.plastic li small
{
    color: #888;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}
ul.plastic li:nth-child(odd)
{
    background-color: #1c1c1f;
}
ul.plastic li.arrow
{
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.plastic li.arrow a.active
{
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.plastic li.forward
{
    background-image: url(img/chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.plastic li.forward a.active
{
    background-image: url(img/chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.metal
{
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0;
}
ul.metal li
{
    background: -moz-linear-gradient(-90deg, rgba(238,238,238,1), rgba(156,158,160,1));
    background: -webkit-gradient(linear,0% 0,0% 100%,from(rgba(238,238,238,1)),to(rgba(156,158,160,1)));
    background-image: none;
    border-bottom: 1px solid #666;
    border-top: 1px solid #fff;
    font-size: 26px;
}
ul.metal li a
{
    line-height: 26px;
    margin: 0;
    padding: 13px 0;
    text-shadow: #fff 0 1px 0;
}
ul.metal li a em
{
    color: #444;
    display: block;
    font-size: 14px;
    font-style: normal;
    line-height: 14px;
    width: 50%;
}
ul.metal li a.active
{
    color: #000;
}
ul.metal li small
{
    float: right;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
}
ul.metal li.arrow
{
    background-image: url(img/chevron.png),-moz-linear-gradient(-90deg, rgba(238,238,238,1), rgba(156,158,160,1));
    background-image: url(img/chevron.png),-webkit-gradient(linear,0% 0,0% 100%,from(rgba(238,238,238,1)),to(rgba(156,158,160,1)));
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.metal li.arrow a small
{
    line-height: 17px;
    padding-right: 15px;
}